<div class="container">

  <h4 class="mb-3 mt-5">Prijava za konkurs {{posting.name}}</h4>
  <form ngNativeValidate #applicationForm="ngForm" (submit)="sendApplication()">


    <div class="form-group">
      <div class="row">
        <div class="col-md">
          <label for="firstName">Ime:</label>
          <input autofocus type="text" id="firstName" class="form-control" placeholder="Unesite ime ..." required [(ngModel)]="application.candidate.firstName"
            name="firstName">
        </div>
        <div class="col-md">
          <label for="lastName">Prezime:</label>
          <input type="text" id="lastName" class="form-control" placeholder="Unesite prezime ..." required [(ngModel)]="application.candidate.lastName"
            name="lastName">
        </div>
      </div>
    </div>

    <div class="form-group">
      <span class="h6 mr-4">Pol:</span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" [value]="'MALE'" [(ngModel)]="application.candidate.gender">
        <label class="form-check-label" for="exampleRadios1">
          Muski
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" [value]="'FEMALE'"
          [(ngModel)]="application.candidate.gender">
        <label class="form-check-label" for="exampleRadios2">
          Zenski
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email addresa:</label>
      <input type="email" class="form-control" id="email" placeholder="Unesite email adresu ..." required [(ngModel)]="application.candidate.email"
        name="email">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md">
          <label for="idNumber">Broj licne karte:</label>
          <input type="text" id="idNumber" class="form-control" placeholder="Unesite broj licne karte ..." required [(ngModel)]="application.candidate.idNumber"
            name="idNumber">
        </div>
        <div class="col-md">
          <label for="ssn">JMBG:</label>
          <input type="text" id="ssn" class="form-control" placeholder="Unesite JMBG ..." required [(ngModel)]="application.candidate.ssn"
            name="ssn">
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <label for="citizenship">Drzavljanstvo:</label>
            <select class="form-control" id="citizenship" [(ngModel)]="application.candidate.citizenship" name="citizenship" required>
              <option *ngFor="let c of citizenships" [ngValue]="c">{{c.citizenship}}</option>
            </select>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <label for="educationLevel">Stepen strucne spreme:</label>
            <select class="form-control" id="educationLevel" [(ngModel)]="application.candidate.educationLevel" name="educationLevel"
              required>
              <option [value]="'I'">Prvi</option>
              <option [value]="'II'">Drugi</option>
              <option [value]="'III'">Treci</option>
              <option [value]="'IV'">Cetvrti</option>
              <option [value]="'V'">Peti</option>
              <option [value]="'VI'">Sesti</option>
              <option [value]="'VII'">Sedmi</option>
              <option [value]="'VIII'">Osmi</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <label for="languages">Strani jezici:</label>
            <table *ngIf="languages.length !== 0" class="table table-bordered" id="languages">
              <thead>
                <tr>
                  <th scope="col">Jezik</th>
                  <th scope="col">Nivo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let language of languages">
                  <td>{{language.language}}</td>
                  <td>{{language.level}}</td>
                </tr>
              </tbody>
            </table>
            <br>

            <button type="button" class="btn btn-secondary" (click)="open(content)">Dodaj</button>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <label for="education">Skole:</label>
            <table *ngIf="educations.length !== 0" class="table table-bordered" id="education">
              <thead>
                <tr>
                  <th scope="col">Ime skole</th>
                  <th scope="col">Napomena</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of educations">
                  <td>{{e.schoolName}}</td>
                  <td>{{e.note}}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <button type="button" class="btn btn-secondary" (click)="open(content1)">Dodaj</button>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <label for="certificates">Strucni radovi:</label>
            <table *ngIf="certificates.length !== 0" class="table table-bordered" id="certificates">
              <thead>
                <tr>
                  <th scope="col">Strucni rad:</th>
                  <th scope="col">Napomena:</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of certificates">
                  <td>{{c.certificate}}</td>
                  <td>{{c.note}}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <button type="button" class="btn btn-secondary" (click)="open(content2)">Dodaj</button>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="candidateNote">Napomena:</label>
      <textarea class="w-100" name="candidateNote" id="candidateNote" rows="3" placeholder="Ako zelite unesite napomenu ..."
        [(ngModel)]="application.candidate.note" name="candidateNote"></textarea>
    </div>


    <div class="form-group">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <label for="cv">Okacite CV (u PDF formatu)*:</label>
            <input type="file" class="form-control-file" accept="application/pdf" id="cv" (change)="fileIsSelected()">
            <div *ngIf="invalidFile1" class="help-block text-danger">Maksimalna velicina fajla je 10MB</div>
          </div>
          <div class="form-group">
            <label for="ml">Okacite motivaciono pismo (u PDF formatu):</label>
            <input type="file" class="form-control-file" accept="application/pdf" id="ml" (change)="mlIsSelected()">
            <div *ngIf="invalidFile2" class="help-block text-danger">Maksimalna velicina fajla je 10MB</div>
          </div>
          <div class="form-group">
            <label for="cl">Okacite propratno pismo (u PDF formatu):</label>
            <input type="file" class="form-control-file" accept="application/pdf" id="cl" (change)="clIsSelected()">
            <div *ngIf="invalidFile3" class="help-block text-danger">Maksimalna velicina fajla je 10MB</div>
          </div>
        </div>
        <div class="col-md">
          <div class="float-right">

            <re-captcha (resolved)="resolved($event)" siteKey="6LdtEWoUAAAAACPWdBYqt89dHzOfi2lZwVIgOKTY"></re-captcha>

          </div>
        </div>
      </div>
    </div>




    <hr>

    <div class="text-center">
      <button type="submit" class="btn btn-success mr-3" [disabled]="captcha === null || !fileSelected">Posalji prijavu</button>
      <button type="reset" class="btn btn-warning" (click)="goBack()">Odustani</button>
    </div>



  </form>


</div>


<!--  Modal za dodavanje jezika  -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <h4 class="modal-title" id="modal-basic-title">Dodaj jezik</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form ngNativeValidate (ngSubmit)="addLanguage()">
      <div class="form-group">
        <label for="newLanguage">Jezik:</label>
        <select class="form-control" id="newLanguage" [(ngModel)]="newLanguage" name="newLanguage" required>
          <option *ngFor="let l of allLanguages" [ngValue]="l">{{l.language}} {{l.level}}</option>
        </select>
      </div>
      <div *ngIf="greska" class="alert alert-danger mt-4 fade show">Greška: jezik vec dodat.</div>
      <div *ngIf="dodat" class="alert alert-success mt-4 fade show">Jezik je uspešno dodat!</div>
      <hr>
      <button type="submit" class="btn btn-success" [disabled]="dodat">Dodaj</button>
    </form>

  </div>
</ng-template>

<!--  Modal za dodavanje skole  -->
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <h4 class="modal-title" id="modal-basic-title">Dodaj skolu</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate (ngSubmit)="addEducation()">
      <div class="form-group">
        <label for="schoolName">Ime obrazovne ustanove:</label>
        <input type="text" class="form-control" id="schoolName" [(ngModel)]="newEducation.schoolName" name="schoolName" placeholder="Unesite naziv skole koju pohadjate ili ste je zavrsili ..."
          required>
      </div>
      <div class="form-group">
        <label for="schoolNote">Napomena:</label>
        <input type="text" class="form-control" id="schoolNote" [(ngModel)]="newEducation.note" name="schoolNote" placeholder="Unesite napomenu ...">
      </div>
      <div *ngIf="dodat" class="alert alert-success mt-4 fade show">Skola je uspešno dodata!</div>
      <hr>
      <button type="submit" class="btn btn-success" [disabled]="dodat">Dodaj</button>
    </form>
  </div>
</ng-template>

<!--  Modal za dodavanje strucnih radova  -->
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <h4 class="modal-title" id="modal-basic-title">Dodaj strucni rad</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate (ngSubmit)="addCertificate()">
      <div class="form-group">
        <label for="certificateName">Naziv strucnog rada:</label>
        <input type="text" class="form-control" id="schoolName" [(ngModel)]="newCertificate.certificate" name="certificateName" placeholder="Unesite naziv strucnog rada ..."
          required>
      </div>
      <div class="form-group">
        <label for="certificateNote">Napomena:</label>
        <input type="text" class="form-control" id="certificateNote" [(ngModel)]="newCertificate.note" name="certificateNote" placeholder="Unesite napomenu ...">
      </div>
      <div *ngIf="dodat" class="alert alert-success mt-4 fade show">Strucni rad je uspešno dodat!</div>
      <hr>
      <button type="submit" class="btn btn-success" [disabled]="dodat">Dodaj</button>
    </form>
  </div>
</ng-template>
