<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand">Konkurs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="!isCollapsed">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/postings/">Pocetna
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/admin/postings/">Pocetna
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>

      <div class="float-right">

        <div *ngIf="!isLoggedIn()">
            <button type="button" class="btn btn-secondary" routerLink="/login">Log in</button>
        </div>
        <div *ngIf="isLoggedIn()">
            <button type="button" class="btn btn-secondary" routerLink="/login">Odjavi me</button>
        </div>

      </div>


    </div>
  </nav>
</header>
